{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

    <div class="container" id="instruction">
        <div class="card">
            <h5 class="card-header text-center h5">Содержание</h5>
            <div class="card-body">
                <ul class="ml-3">
                    <li><a href="#preparation">Подготовка к генерации колоды</a></li>
                    <li><a href="#generation">Генерация колода</a></li>
                    <li><a href="#installation">Установка ANKI</a></li>
                    <li><a href="#import-preparation">Подготовка к импорту колоды</a></li>
                    <li><a href="#import">Импорт колоды</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card" id="preparation">
            <h5 class="card-header text-center h5">Подготовка к генерации колоды</h5>
            <div class="card-body">
                <p>Для генерации колоды ANKI вам необходимо подготовить текстовый файл со словами.<br>
                Самый простой способ это сделать, открыть блокнот или любой другой простой текстовый
                редактор и записать в него английские слова через проблел или в столбик.</p>
                <br>
                <img src="{% static 'image/instruction/words.png' %}" alt="" class="img-fluid">
            </div>
        </div>
        <br>
        <div class="card" id="generation">
            <h5 class="card-header text-center h5">Генерация колода</h5>
            <div class="card-body">
                <p>Перейдите на главную страницу сайта, нажмите на кнопку выбрать файл, перед вами откроется проводник,
                    выбирете нужный файл и нажмите открыть. Далее нажмите кнопку "создать колоду".
                </p>
                <p>После того как колода будет сгенерирована, на главной странице появится ссылка для скачивания.
                    Колода это - архив формата zip. Сохраните колоду в удобное для вас место, после чего разархивируйте.</p>
                <br>
                <img src="{% static 'image/instruction/browse.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/link.png' %}" alt="" class="img-fluid" >
                <br>
            </div>
        </div>
        <br>
        <div class="card" id="installation">
            <h5 class="card-header text-center h5">Установка ANKI</h5>
            <div class="card-body">
                <p>Перейдите на сайт <a href="">ANKI,</a> скачайте версию подходящую под вашу систему. Запустите скачанный файл и следуйте инструкциям инсталлятора.</p>
            </div>
        </div>
        <br>
        <div class="card" id="import-preparation">
            <h5 class="card-header text-center h5">Подготовка к импорту колоды</h5>
            <div class="card-body">
                <p>Запустите ANKI. В главном окне программы нажмите "Добавить", затем нажмите кнопку "Поля".</p>
                <br>
                <img src="{% static 'image/instruction/anki_main_window.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_add_card.png' %}" alt="" class="img-fluid">
                <br>
                <br>
                <hr>
                <p>Измените названия двух существующих полей с помощью кнопки "Переименовать".
                    Название первого поля: "Перевод", второго: "Инфинитив". <br>
                Теперь с помощью кнопки "Добавить", добавьте три новых поля: "Транскрипция", "Картинка", "Звук". Нажмите "Закрыть"</p>
                <br>
{#                TODO: unite first two images#}
                <img src="{% static 'image/instruction/anki_fields_rename.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_fields_add.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_fields_result.png' %}" alt="" class="img-fluid">
                <br>
                <br>
                <hr>
                <p>Нажмите кнопку "Карточки", добавьте поля в шаблоны лицевой и обратной стороны карточки как показано на рисунке, или
                    раставьте их в соостветствии с вашими требованиями к карточке. Закройте окно шаблона а так же карточки.</p>
                <br>
                <img src="{% static 'image/instruction/anki_card_settings.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_card_settings_template.png' %}" alt="" class="img-fluid">
                <br>
            </div>
        </div>
        <br>
        <div class="card mb-5" id="import">
            <h5 class="card-header text-center h5">Импорт колоды</h5>
            <div class="card-body">
                <p>В главном окне программы нажмите "Файл" - "Импортировать", после чего выберите текстовый файл
                    колоды из места в которое вы разархивировали колоду ранее.</p>
                <br>
                <img src="{% static 'image/instruction/anki_file_import.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_file_import_browse.png' %}" alt="" class="img-fluid">
                <br>
                <br>
                <hr>
                <p>В настройках импорта поставьте галочку "Разрешить использовать HTML в полях" и нажмите кнопку импорт.</p>
                <br>
                <img src="{% static 'image/instruction/anki_import.png' %}" alt="" class="img-fluid">
                <img src="{% static 'image/instruction/anki_import_done.png' %}" alt="" class="img-fluid">
                <br>
                <br>
                <hr>
                <p>Теперь нужно добавить звуки и картинки для колоды, звуки поставляются вместе с
                    колодой и находятся в папке "collection_media". Картинки с колодой не поставляются,
                    если вы хотите использовать картинки со словами вам необходимо найти и скачать
                    картинки самостоятельно, файл картинки должен быть назван как слово на английском.
                    <br>
                    Для того что бы использовать звуки их необходимо скопировать в профиль колоды ANKI.
                    Для систем на базе Windows этот путь будет
                    "C:\Users\Имя вашего пользователя\AppData\Roaming\Anki2\имя вашего профиля anki\collection.media".
                </p>
                <br>
                <br>
                <p>Пример импортированной карточки</p>
                <br>
                <img src="{% static 'image/instruction/anki_card_example.png' %}" alt="" class="img-fluid">
            </div>
        </div>

    </div>
    <br>
    <br>




{% endblock %}