{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



    <main role="main" class="container-fluid" id="home">
        <div class="row justify-content-center">
            <a href="{% url 'home' %}"><img src="{% static 'image/logo.png' %}" class="img-fluid"></a>
        </div>
        <div class="row justify-content-center" id="form-row">
            <form action="" method="POST" enctype="multipart/form-data" class="form-inline">
{#                {% csrf_token %}#}
                <div class="row justify-content-center">
                <div class="input-group mb-3 mr-sm-2 " id="file-browse">
                    <div class="custom-file">
                        {{ form.file }}
                        <label class="custom-file-label pr-5" for="inputGroupFile03">Выберите файл</label>
                    </div>
                </div>
{#TODO: use with multispider #}
                <div class="input-group mb-3 mr-sm-2">
                    {{ form.select }}
                </div>

                  <div class="input-group-prepend" >
                    <button class="btn btn-outline-primary" id="send">Создать колоду</button>
                  </div>
                    </div>
            </form>
        </div>


        {% if deck_link %}
            <div class="row" id="deck_link">
                <div class="container">
                    <a href="{{ deck_link }}">
                        <div class="alert alert-success text-center " role="alert">
                            Скачать колоду
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}


        {% if error_msg %}
            <div class="row " id="error_msg">
                <div class="container">
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error_msg }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-center">
                <img src="{% static 'image/loading.gif' %}" id="loading-indicator" style="display:none"/>
        </div>
    </main><!-- /.container -->

    <script>
    var upload_url = '{% url 'upload' %}'
    </script>

{% endblock %}