{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

    <div class="container">
        <div class="row" id="about">
            <div class="col-12 text-center">
                <p>
                    Сайт создан для облегчения создания колод для программы ANKI. <br>
                    Вдохновлен <a href="https://apps.ankiweb.net/">ANKI</a>
                </p>
            </div>
        </div>
    </div>
    {% if feedback_form %}
    <div class="container feedback">
      <form id="contact" action="{% url 'feedback' %}" method="post">
          {% csrf_token %}
        <h3>Отправить отзыв</h3>
        <fieldset>
          {{ feedback_form.name }}
        </fieldset>
        <fieldset>
          {{ feedback_form.email }}
        </fieldset>
        <fieldset>
          {{ feedback_form.text }}
        </fieldset>
        <fieldset>
          <button type="submit" class="btn btn-outline-primary" data-submit="...Отправка">Отправить</button>
        </fieldset>
      </form>
    </div>
    {% endif %}

    {% if sended %}
    <div class="container">
        <div class="row">
            <div class="alert alert-success mx-auto" role="alert">
                {{ sended }}
            </div>
        </div>
        <div class="row">
            <a href="{% url 'home' %}" class="mx-auto">
                <button type="submit" class="btn btn-outline-success">Вернуться</button>
            </a>
        </div>
    </div>
    {% endif %}

    {% if error %}
        <div class="container">
            <div class="row">
                <div class="alert alert-danger mx-auto" role="alert">
                    {{ error }}
                </div>
            </div>
            <div class="row">
                <a href="{% url 'about' %}" class="mx-auto">
                    <button type="submit" class="btn btn-outline-danger">Обновить</button>
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}